body{
    background-image:linear-gradient(to bottom, #f6d365, #fda085);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-content: space-around;
}

.header{
    margin: 3rem 0 3rem;
}

#textarea{
    margin: 2rem 0 3rem;
    border:1px solid orange ;
}

#notes{
    list-style:none;
    padding-left: 0;
}

.buttons{
    justify-content: space-around;
}

#instructions{
    margin:2rem 0 2rem;
}

.note{
    border: 1.1px solid rgb(243, 142, 9);
    border-radius: 5px;
    margin: 0.6rem;
    box-sizing: border-box;
}

.note p{
    margin: 1rem 0 1rem !important;
}

.delete-speech{
    color: red;
}
.delete-speech:hover{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

.listen-speech{
    color:  green;
}
.listen-speech:hover{
    color:  green;
    text-decoration: none;
    font-weight: bolder;
}